<section class="special-offers">
    <h3 class="section__title"><%= sliderTitle %></h3> 
    <!-- Product Slider -->

    <div class="gallery productSlider js-flickity" data-flickity-options='{ "wrapAround": true }' >
        <% sliderProducts.forEach(product => { %>
            <a href="/products/detail/<%- product.id %>">
                <div class="carousel-cell  productSlide">
                    <div class="productDiscount"><%- product.discount %>% OFF</div>
                    <img src="/images/productos/<%- product.image[0] %>" alt="<%- product.name %>">
                    <p class="productName"> 
                        <% if (product.name.length > 30) { %>
                            <%- `${product.name.slice(0,30)}...` %>
                        <% } else { %>
                            <%= product.name %>
                        <% } %>
                    </p>
                    <h4 class="productPrice">$<%- product.price - product.price * product.discount / 100 %></h4>
                </div>
            </a>
        <% }) %>
    </div>

</section> 